<div class="container">
    <div class="bg-img"></div>
    <h1 id="welcome-text" class="center">Your One-Stop Shop for Crafting Materials</h1>
    <div class="bg-img2"></div>
    <div id="fold2" class="card text-center">
        <div class="card-header">&nbsp;</div>
        <div id="index-card" class="card-body">
            <h5 class="card-title">Request what you need</h5>
            <p class="card-text">Looking for an item? Submit a request to our active community of players.</p>
            <h5 class="card-title">Contribute to the marketplace</h5>
            <p class="card-text">Pick up a request. You never know whose day you might make!</p>
            <button type="button" class="btn btn-outline-danger" (click)="goToPage('item-requests');">View Item Requests</button>
        </div>
        <div class="card-footer text-muted">&nbsp;</div>
    </div>
    <div class="bg-img3"></div>
    <div id="fold3" class="card text-center">
        <div class="card-header">&nbsp;</div>
        <div id="index-card2" class="card-body">
            <h5 class="card-title">Check the current rates</h5>
            <p class="card-text">View live data of the current market listings on Ultros.</p>
            <button type="button" class="btn btn-outline-danger" (click)="goToPage('market');">View market</button>
        </div>
        <div class="card-footer text-muted">&nbsp;</div>
    </div>
</div>